@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans+Condensed:wght@300;700&family=Shippori+Antique&display=swap');

:root{
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}
body{
    /* font-family: 'Sora', "sans-serif"; */
    line-height: 1.7;
    color: var(--body);
}
h1,h2,h3,h4,h5,h6,
.display-4{
    color: var(--dark);
    font-weight: 600;
}
a{
    color: var(--body);
    text-decoration: none;
}
.navbar .nav-link{
    font-weight: 600;
    font-size: 12px;
}
.navbar .nav-link a:hover{
    color: #fff;
}
.dropdown-item{
    font-size: 12px
}

.footer-top{
    padding-bottom: 40px;
    padding: 40px;
    background-color: var(--dark );
}
.footer-top a{
    color: var(--body);
}
  
.footer-top a:hover{
    color: #ffc107;
}
.footer-bottom{
    background-color: #242933;

}
.card{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    font-family: 'Times New Roman', Times, serif;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.srch{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
}
.srch:hover{
background: #7c7c7c2b;
}
h1.temp{
    margin: 0;
    margin-bottom: 0.4em;
}
.flex{
    display: flex;
    align-items: center;
}
.description{
    text-transform: capitalize;
    margin-left: 8px;
}
 .weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
    
}
.weather.loading:after{
    visibility: visible;
    content: "Loading....";
    color: white;
    position:absolute;
    top: 0;
    left: 20px;
    font-family: inherit;
} 
